<template>
  <div class="startScreen">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- If final screen then centralize page title -->
          <h1 v-if="data.length > 1 && questionIndex === data.length">The IMDB Quiz</h1>
          <h1 v-else>The IMDB Quiz</h1>

          <!-- Show load message -->
          <p v-if="data.length < 1">Loading data...</p>

        </div>
      </div>
    </div>
        
    <!-- Loop through actor and actress -->
    <div class="container" v-for="(data, index) in data">

      <!-- Showing active question -->
      <div class="row" v-show="index === questionIndex">
        
        <!-- Points pannel -->
        <div class="col-md-1 points">{{ points }}</div>

        
        <div class="col-md-6 pic">
          <img :src="data.pic" alt="">
        </div>
        
        <div class="col-md-5 question">
          
          <!-- Quiz form -->
          <div class="quiz-form">

            <!-- Message for right answer -->
            <div v-if="RightAnswer == true">
              <div class="alert alert-success" role="alert">
                Right answer!
              </div>
            </div>

            <!-- Message for wrong answer -->
            <div v-if="WrongAnswer == true">
              <div class="alert alert-danger" role="alert">
                Wrong answer!
              </div>
            </div>

            <h1>{{ question }}</h1>
            <form @submit.prevent="CheckAnswer(data.name)">
              <input type="text" v-model="UserAnswer">
              <button type="submit" class="btn btn-info btn-sm" id="bt-answer">Answer <i class="fa fa-check" aria-hidden="true"></i></button>
            </form>
          </div>
          <!-- / Quiz form -->

          <!-- Quiz actions -->
          <div class="quiz-actions">
            <button type="button" class="btn btn-dark btn-sm bt-giveup" v-on:click="UserAnswer = data.name; giveUp = true;">I give up, who is this? <i class="fa fa-meh-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-primary btn-sm" id="bt-answer" v-on:click="next">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
          <!-- / Quiz actions -->


        </div>

      </div>
      <!-- Showing active question -->
    </div>
    <!-- / Loop through actor and actress -->


    <!-- Show result screen -->
    <div v-show="data.length > 1 && questionIndex === data.length">
      <div class="container" id="final-screen">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-3">THE END!</h1>
            
            <p class="lead" v-if="points > 0">Congratulations! You've completed The IMDB Quiz! Your score: <strong>{{points}}</strong></p>
            <p class="lead" v-else>Well, you score: {{points}} <br> :(</p>

            <a :href="WhatsappMsg + points" class="btn btn-success bt-wpp-share"><i class="fa fa-whatsapp" aria-hidden="true"></i> Share</a>

          </div>
        </div>
      </div>
    </div>
    <!-- / Show result screen -->

  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)
export default {
  name: 'StartQuiz',
  data () {
    return {
      points: 0,
      questionIndex: 0,
      UserAnswer: '',
      RightAnswer: false,
      WrongAnswer: false,
      AnswerIsChecked: false,
      giveUp: false,
      answer: 'Jim Carrey',
      question: 'What is the name of this actor or actress',
      WhatsappMsg: 'whatsapp://send?text=The IMDB Quiz! My score: ',
      data: []
    }
  },

  //Precaching quiz data
  created: function () {
    
    /*
    * Populating quiz, while in this API I can't found a method to get more than one per once
    * I have to make 10 requests to populate quiz in order to achieve requirements
    */

    this.getPersonInfo('jim+carrey');
    this.getPersonInfo('cate+blanchett');
    this.getPersonInfo('mark+wahlberg');
    this.getPersonInfo('margot+robbie');
    this.getPersonInfo('will+smith');
    this.getPersonInfo('kate+mara');
    this.getPersonInfo('sophia+bush');
    this.getPersonInfo('john+malkovich');
    this.getPersonInfo('emma+stone');
    this.getPersonInfo('minka+kelly');

  },

  methods: {

    /*
    * Jump to next question
    */
    next(){

      // Only jump if question was checked
      if( this.AnswerIsChecked ){
        this.clearQuiz();
        this.questionIndex++;

        //setting new right answer
        this.answer = this.data[this.questionIndex];


      }
    },



    /*
    * Reset variables to next question
    */
    clearQuiz(){
      this.giveUp = false;
      this.WrongAnswer = false;
      this.RightAnswer = false;
      this.UserAnswer = '';
      this.AnswerIsChecked = false;
    },

    
    /*
    * Check answer
    */
    CheckAnswer(correctAnswer){

      //Validation to avoid glitch on correct answer*
      if( !this.AnswerIsChecked ){

        //Check values is uppercase
        if( correctAnswer.toUpperCase() == this.UserAnswer.toUpperCase() ){
        
          if( !this.giveUp ) this.points++; // Incrementing pontuation
          this.WrongAnswer = false; // Hide failure message ~just in case
          this.RightAnswer = true; // Show sucess message
          this.AnswerIsChecked = true; // *
        
        }else{

          if( this.points >= 1 ) this.points--; // Avoid negative points
          this.RightAnswer = false; // Hide success message ~just in case
          this.WrongAnswer = true; // Show failure message
          this.AnswerIsChecked = true; // *

        }
      }

    },


    /*
    * Return actor os actress data
    */
    getPersonInfo(name){
      
      //Requesting data to populate quiz
      Vue.axios.get('http://www.theimdbapi.org/api/find/person?name=' + name).then(response => {

        this.data.push({name: response.data[0].title, pic: response.data[0].image.poster});
        
      }).catch(error => {
        this.errorMsg = 'Service unavaliable!'
        this.data = []
      })

    }
  }
}
</script>


<style lang="scss">

  .points{
    font-size: 3.5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  .question{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1{
      font-size: 1.5rem;
    }

    input{
      width: 100%;
      float: left;
      margin-bottom: 10px;
      border: none;
      background: rgba(255,255,255,0.8);
      padding: 5px 15px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      &:hover,
      &:focus{
        background: rgba(255,255,255,1);
      }
    }

    #bt-answer{
      float: right;
      cursor: pointer;
    }


    .quiz-actions{
      .bt-giveup{
        cursor: pointer;
      }
    }
  }

  .pic{
    background: rgba( 255, 255, 255, 0.05 );

    img{
      height: 100%;
      max-height: 400px;
      display: block;
      margin: 0 auto;
    }
  }


  #final-screen{
    text-align: center;
    padding: 40px 0;

    h1{
      color: #08f975;
    }

    p{
      color: #ffb508;
    }

    .bt-wpp-share{
      display: none;
    }
  }


  /*
  * Responsive
  */
  @media (max-width: 1010px){

    .points{
      font-size: 2rem;

      &:before{
        content: 'Score: ';
      }
    }

    .pic{
      margin-bottom: 20px;
    }

    .quiz-form{
      border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    #final-screen .bt-wpp-share{
      display: block;
      width: 150px;
      margin: 0 auto;
    }

  }

</style>