<template>
  <div id="app">
    <StartQuiz/>
  </div>
</template>

<script>
import StartQuiz from './components/StartQuiz'


export default {
  name: 'app',
  components: {
    StartQuiz
  }
}
</script>

<style lang="scss">

  html {
    font-size: 16px;
    
    @media (max-width: 1000px) {
      font-size: calc(12px + .4vw);
    }
  }

  body{
    font-size: 1rem;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
